* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .simulation {
    width: 800px;
    height: 600px;
    border: 1px solid black;
  }
  
  .simulation .topic {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  
  .subtopics {
    width: 100%-20px;
    margin-left: 20px;
    line-height: 35px;
  }
  
  .subtopics ol li {
    margin-left: 40px;
  }
  
  .subtopics p {
    margin-left: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
  }
  
  .img1 {
    height: 85px;
    width: 100px;
    margin: 20px auto;
  }
  
  .img2 {
    height: 85px;
    width: 110px;
    margin: 20px auto;
  }
  
  .img3 {
    height: 80px;
    width: 110px;
    margin: 20px auto;
  }
  
  .img4 {
    height: 81px;
    width: 190px;
    margin: 20px auto;
  
  }
  
  .img5 {
    height: 50px;
    width: 100px;
    margin: 20px auto;
  
  }
  
  .img6 {
    height: 85px;
    width: 90px;
    margin: 20px auto;
  }
  
  /* next button */
  
  #buttonup {
    border: 0;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    background-color: white;
  }
  
  #buttondown {
    border: 0;
    cursor: pointer;
    float: left;
    margin-left: 20px;
    background-color: white;
    transform: scaleX(-1);
    display: none;
  }
  
  #IBgraphbutton {
    display: none;
    border: 0;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid black;
  }
  
  #IBgraph {
    display: none;
    height: 400px;
    width: 700px;
    position: absolute;
    background-color: white;
    top: 110px;
    left: 45px;
    border: black solid;
    border-width: 3px;
    z-index: 7;
  }
  
  #IBgraph button {
    width: 60px;
    height: 31px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin-right: 8px;
    position: relative;
    margin-top: -38px;
  }
  
  .nextimg {
    width: 45px;
    height: 45px;
  }
  
  #content {
    width: 800px;
    height: 500px;
  }
  
  #content2 {
    width: 800px;
    height: 500px;
  }
  
  /* options */
  
  .simoptions {
    background-color: rgba(135, 207, 235, 0.621);
    width: 25%;
    height: 550px;
    float: left;
    filter: blur(0px);
  }
  
  .procedure {
    margin: 10px;
  }
  
  #exp {
    height: 35px;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(65, 62, 62, 0.219);
    cursor: pointer;
  }
  
  .insert-reset-observation {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .insert-reset-observation button {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
  }
  .current {
    margin: 10px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid red;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
  }
  
  .thickness {
    margin: 10px;
  }
  
  .hallcurrent {
    margin: 10px;
  }
  
  .result {
    margin: 10px;
    text-align: left;
  }
  
  /* Simulation Box */
  
  .mainsimulation {
    position: absolute;
    left: 200px;
    top: 51px;
    width: 75%;
    height: 551px;
    /* float: right; */
    text-align: center;
  }
  
  #add {
    display: none;
    position: absolute;
    left: 400px;
    top: 5px;
  }
  
  @keyframes probeslideup {
    from {
      top: 200px;
    }
  
    to {
      top: 100px;
    }
  }
  
  @keyframes wireslideup {
    from {
      top: 300px;
    }
  
    to {
      top: 200px;
    }
  }
  @keyframes insertdistube {
    from {
      top: 100px;
    }
  
    to {
      top: 215px;
    }
  }
  .hands {
    transform-origin: top left;
  }
  @keyframes rotatehand {
    to {
      transform: rotate(20deg);
    }
  }
  @keyframes moverings {
    from {left:4px; top:7px;}
	  to {left:28px; top:7px;}
  }
  @keyframes movesplitrings {
    from {left:50px; top:8px;}
	  to {left:67px; top:8px;}
  }
  @keyframes movesplitrings2 {
    from {left:67px; top:8px;}
	  to {left:80px; top:8px;}
  }
  @keyframes movesplitrings3 {
    from {left:80px; top:8px;}
	  to {left:87px; top:8px;}
  }
  @keyframes movesplitrings4 {
    from {left:87px; top:8px;}
	  to {left:102px; top:8px;}
  } 
  @keyframes movesplitrings5 {
    from {left:102px; top:8px;}
	  to {left:110px; top:8px;}
  }
  @keyframes movesplitrings6 {
    from {left:110px; top:8px;}
	  to {left:119px; top:8px;}
  }
  @keyframes movesplitrings7 {
    from {left:119px; top:8px;}
	  to {left:132px; top:8px;}
  }
  @keyframes movesplitrings8 {
    from {left:132px; top:8px;}
	  to {left:142px; top:8px;}
  }
  @keyframes movesplitrings9 {
    from {left:142px; top:8px;}
	  to {left:150px; top:8px;}
  }
  @keyframes movesplitrings10 {
    from {left:150px; top:8px;}
	  to {left:160px; top:8px;}
  }
  @keyframes movesplitrings11 {
    from {left:160px; top:8px;}
	  to {left:169px; top:8px;}
  }
  @keyframes movesplitrings12 {
    from {left:169px; top:8px;}
	  to {left:174px; top:8px;}
  }
  #fieldvalue {
    width: 64px;
    height: 21px;
    position: absolute;
    margin-top: 340px;
    margin-left: 430px;
    border: none;
    font-size: 16px;
    text-align: center;
  }
  #cvalue {
    width: 100px;
    height: 21px;
    position: absolute;
    margin-top: 316px;
    margin-left: 25px;
    border: none;
    font-size: 19px;
    text-align: center;
  }
  #voltagevalue {
    width: 70px;
    height: 21px;
    position: absolute;
    margin-top: 439px;
    margin-left: 516px;
    border: none;
    font-size: 14px;
    text-align: center;
  }
  .reading {
    display:none; 
    position: absolute;
    font-size: 16px;
    left: 415px; 
    top: 65px;
  }
  .observation {
    display: none;
    height: 400px;
    width: 700px;
    position: absolute;
    background-color: rgb(174, 215, 232);
    top: 110px;
    left: 45px;
    border: black solid;
    border-width: 3px;
    z-index: 7;
  }
  
  .tablediv {
    height: 360px;
    justify-content: center;
    display: flex;
    overflow-y: hidden;
  }
  
  .observationTable {
    border-collapse: collapse;
    width: 95%;
    margin-top: 11px;
    margin-left: 14px;
    margin-bottom: 5px;
    height: min-content;
    background-color: white;
  }
  
  .observation td,
  th {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
  }
  
  .tableObservation {
    display: flex;
    height: 40px;
    width: 100%-10px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .tableObservation button {
    width: 60px;
    height: 31px;
    border-radius: 20px;
    cursor: pointer;
  }
  .observations {
    display: none;
    height: 515px;
    width: 700px;
    position: absolute;
    background-color: rgb(174, 215, 232);
    top: 60px;
    left: 45px;
    border: black solid;
    border-width: 3px;
    z-index: 7;
  }
  .observations td,
  th {
    border: 2px solid #000000;
    text-align: center;
    padding: 6px;
  }
  .tablesdiv {
    height: 475px;
    justify-content: center;
    display: flex;
    overflow-y: hidden;
  }
  .tableObservations {
    display: flex;
    height: 40px;
    width: 100%-10px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .tableObservations button {
    width: 60px;
    height: 31px;
    border-radius: 20px;
    cursor: pointer;
  }
  .observation2 {
    display: none;
    height: 410px;
    width: 700px;
    position: absolute;
    background-color: rgb(174, 215, 232);
    top: 60px;
    left: 45px;
    border: black solid;
    border-width: 3px;
    z-index: 7;
  }
  .observation2 tbody,
  th {
    border: 2px solid #000000;
    text-align: center;
    padding: 15px;
  }
  .observation2
  td {
    border-left: 2px solid #000000;
    text-align: center;
    padding: 10px;
  }
  .observationTable2 {
    border-collapse: collapse;
    width: 90%;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    height: min-content;
    background-color: white;
  }
  #content3 {
    width: 800px;
    height: 500px;
  }
  
  #graph {
    width: 800px;
    height: 500px;
  }
  
  .blocker {
    display: none;
    position: absolute;
    height: 550px;
    width: 800px;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .help {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5px;
  }
  
  .help button {
    background-color: rgb(189, 231, 249);
    border: 0;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .help img {
    width: 25px;
    height: 25px;
  }
  
  #instructions {
    display: none;
    height: 475px;
    width: 700px;
    position: absolute;
    background-color: white;
    top: 80px;
    left: 45px;
    border: 3px black solid;
    overflow-y: auto;
    z-index: 7;
  }
  
  .icontent {
    margin-left: 35px;
    line-height: 1.63rem;
  }
  
  #instructions button {
    width: 60px;
    height: 31px;
    border-radius: 20px;
    cursor: pointer;
    position: static;
    margin-left: 600px;
    margin-bottom: 5px;
  }
  
  /* hover image names */
  #paper {
    display: none;
    position: absolute;
    background-color: #fff;
    height: 185px;
    width: 180px;
    top: 8px;
    left: 255px;
  }
  #paper2 {
    display: none;
    position: absolute;
    background-color: #fff;
    height: 11px;
    width: 250px;
    top: 0px;
    left: 5px;
  }
  .electromagnet {
    height: 9em;
    width: 14em;
    position: absolute;
    top: 112px;
    left: 405px;
    z-index: 5;
  }
  .constpwrsuply {
    height: 9em;
    width: 14em;
    position: absolute;
    z-index: 5;
    top: 346px;
    left: 203px;
  } 
  .digitalgaussmeter {
    height: 7em;
    width: 11em;
    position: absolute;
    z-index: 5;
    top: 364px;
    left: 620px;
  }
  .mtube {
    height: 6em;
    width: 1em;
    position: absolute;
    z-index: 5;
    top: 490px;
    left: 640px;
  }
  .screen {
    height: 11em;
    width: 15em;
    position: absolute;
    z-index: 5;
    top: 70px;
    left: 212px;
  }
  .flense {
    height: 8em;
    width: 2em;
    position: absolute;
    z-index: 5;
    top: 290px;
    left: 502px;
  }
  .fpetalon {
    height: 8em;
    width: 4em;
    position: absolute;
    z-index: 5;
    top: 290px;
    left: 402px;
  }
  .tscope {
    height: 8em;
    width: 4em;
    position: absolute;
    z-index: 5;
    top: 290px;
    left: 310px;
  }
  .ccdcmra {
    height: 9em;
    width: 3em;
    position: absolute;
    z-index: 5;
    top: 280px;
    left: 256px;
  }
  .zstand {
    height: 4em;
    width: 29em;
    position: absolute;
    z-index: 5;
    top: 405px;
    left: 205px;
  }
  .zpwrsply {
    height: 3em;
    width: 7em;
    position: absolute;
    z-index: 5;
    top: 530px;
    left: 690px;
  }
  .powersupply {
    height: 5em;
    width: 6em;
    position: absolute;
    z-index: 5;
    top: 452px;
    left: 704px;
  }